/src
/log
/logs
/node_modules
/dist/**/*.test.js
/dist/**/*.test.d.ts
/config/config.dev.json
npm-debug.log
.idea
.vscode
.npmignore
.gitignore
.git
.travis.yml
.history
appveyor.yml
package-lock.json
tsconfig.development.json
tsconfig.json
tslint.json
